@page
@model FlightAttendant.Pages.AirportsModel
@{
     ViewData["Title"] = "Airports";
}

<body>

    <div id="get_airports_container">Labas</div>

    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>


</body>


